<mgl-map class="fixed inset-0" [style]="mapStyle()" [zoom]="[7.5]" [center]="[8.226667, 46.801111]">
  @let visited = visitedData.value(); @let todo = todoData.value();

  <!-- visited -->
  @if (visited) {
    <mgl-geojson-source id="visited" [data]="visited"></mgl-geojson-source>
    <mgl-layer id="visited" source="visited" [type]="'fill'" [paint]="visitedPaint()" (layerClick)="layerClick($event)"></mgl-layer>
    <mgl-layer id="visited-line" source="visited" [type]="'line'" [paint]="linePaint()"></mgl-layer>
  }

  <!-- todo -->
  @if (todo) {
    <mgl-geojson-source id="todo" [data]="todo"></mgl-geojson-source>
    <mgl-layer id="todo" source="todo" [type]="'fill'" [paint]="todoPaint()" (layerClick)="layerClick($event)"></mgl-layer>
    <mgl-layer id="todo-line" source="todo" [type]="'line'" [paint]="linePaint()"></mgl-layer>
  }

  <!-- markers -->
  @if (!position.error()) {
    @let _position = position.value();
    @if (_position) {
      <mgl-marker [lngLat]="[_position.coords.longitude, _position.coords.latitude]" [offset]="[0, 0]">
        <img src="{{ markerIcon }}" alt="marker" />
      </mgl-marker>
    }
  }
</mgl-map>

<!-- info top left (selected municipality and position control) -->
<div class="fixed top-4 left-4 grid grid-flow-col gap-4">
  @if (selectedMunicipality()) {
    <div class="bg-white p-2 rounded">
      {{ selectedMunicipality()?.name }} <br />
      {{ selectedMunicipality()?.firstVisit }}
    </div>
  }
  <div
    class="grid items-center justify-center aspect-square rounded p-2 cursor-pointer"
    [ngClass]="{ 'animate-ping': position.isLoading(), 'bg-white': !showPosition(), 'bg-blue-500': showPosition(), 'bg-red-500': position.error() }"
    (click)="toggleLocation()"
  >
    <span class="material-symbols-rounded text-3xl"> location_on </span>
  </div>
</div>

<!-- info top right (visited and todo count) -->
@if (visitedCount() && todoCount()) {
  <div class="fixed top-4 right-4 bg-white p-2 rounded max-w-[50%]">
    {{ visitedCount() }} of {{ totalCount() }} visited <br />
    {{ todoCount() }} not visited
  </div>
}

<!-- info bottom left (map styles) -->¨
<div class="fixed bottom-4 left-4 bg-white rounded overflow-hidden">
  <button
    type="button"
    class="py-2 px-4 border-r border-gray-300 cursor-pointer hover:bg-blue-500 hover:text-white transition-all duration-300"
    [ngClass]="{ 'bg-blue-400 text-white': mapStyleSelection() === 'light' }"
    (click)="mapStyleSelection.set('light')"
  >
    SHP
  </button>
  <button
    class="py-2 px-4 border-r border-gray-300 cursor-pointer hover:bg-blue-500 hover:text-white transition-all duration-300"
    [ngClass]="{ 'bg-blue-400 text-white': mapStyleSelection() === 'streets' }"
    (click)="mapStyleSelection.set('streets')"
  >
    STR
  </button>
  <button
    class="py-2 px-4 br-grey border-r border-gray-300 cursor-pointer hover:bg-blue-500 hover:text-white transition-all duration-300"
    [ngClass]="{ 'bg-blue-400 text-white': mapStyleSelection() === 'satellite' }"
    (click)="mapStyleSelection.set('satellite')"
  >
    SAT
  </button>

  <button
    class="py-2 px-4 br-grey cursor-pointer hover:bg-blue-500 hover:text-white transition-all duration-300"
    [ngClass]="{ 'bg-green-400 text-white': showTransparent() }"
    (click)="showTransparent.set(!showTransparent())"
  >
    OPC
  </button>
</div>

@let positionError = position.error();
@if (positionError) {
  <div class="fixed bottom-4 right-4 border-2 border-red-500 bg-red-100 shadow rounded p-2">
    {{ positionError }}
  </div>
}
